:root {
  --red: #d12013;
  --orange: #fd7202;
  --dark-blue: #101027;
  --grey: #999;
  --white: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  background: var(--dark-blue);
}

body div.mycalc {
  text-align: center;
  width: 214px;
  margin: 0 auto;
}

div input[type="button"],
button {
  width: 50px;
  height: 50px;
  margin: 2px 0;
  border: none;
  border-radius: 4px;
}

div input[type="text"] {
  height: 50px;
  width: 100%;
  background-color: var(--grey);
  color: var(--white);
  padding: 12px 20px;
  margin-top: 100px;
  margin-bottom: 4px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid var(--grey);
}

div.results input,
div.results button {
  height: 50px;
  width: 104px;
}

div.results button {
  background-color: var(--red);
  color: var(--white);
  border: 1px solid var(--red);
  border-radius: 4px;
}

div.results input {
  background-color: var(--orange);
  color: var(--white);
  border: 1px solid var(--orange);
  border-radius: 4px;
}

#plus,
#minus,
#by,
#devide,
#percent {
  background-color: green;
  color: var(--white);
  border: none;
  border-radius: 4px;
}
